{% extends "top.html" %}
{% block content %}
    <div class='container'>
        <div class='row'><h1>Continuon Server Health</h1></div>
            <div class='row'>
                {% for server in data %}
                    <div class='col-md-3'>
                        <div class="card" style='padding: 20px;'>
                            <div class="card-block">
                                <h4 class="card-title">{{ server['InstanceName'] }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ server['Label'] }}
                                </h6>
                                <small>
                                    {{ server['Datapoints'][0]['Timestamp'].strftime('%Y-%m-%d %H:%M:%S') }}
                                </small>
                                <p class="card-text">
                                    <div class="alert alert-success" role="alert">
                                        {{ server['Datapoints'][0]['Average'] }}%
                                    </div>
                                </p>
                                <!--<p>{{ server['Datapoints'] }}</p>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}