{% extends "top.html" %}
{% block content %}
    <div class='container'>
        <div class='row'>
            <h2>AWS Server Health</h2>
            <a class="nav-link" href="{{ pagename }}">
                <img src="{{ url_for('static', filename='css/svg/si-glyph-arrow-circle-rycycle.svg') }}" class='refresh nav-icons' title='refresh data'>
            </a>
        </div>
            <div class='row'>
                {% for server, graph in data %}
                    <div class='col-md-6' style='margin:15px 0px'>
                        <div class="card" style='padding: 20px;'>
                            <div class="card-block">
                                <h4 class="card-title">{{ server['InstanceName'] }}</h4>

                                {% if graph is defined and graph|length > 0 %}
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {{ server['Label'] }}
                                    </h6>
                                    <small>
                                        Last pulse: {{ graph[0][-1][0] }} - <i>{{ server['InstanceType'] }}</i>
                                    </small>
                                    <p class="card-text">
                                        {% if graph[1] > 80 %}
                                            <div class="alert alert-danger" role="alert">
                                            Avg. {{ graph[1]|round(2) }}%
                                            </div>
                                        {% elif graph[1] > 50 %}
                                            <div class="alert alert-warning" role="alert">
                                                Avg. {{ graph[1]|round(2) }}%
                                            </div>
                                        {% elif graph[1] > 20 %}
                                            <div class="alert alert-info" role="alert">
                                                Avg. {{ graph[1]|round(2) }}%
                                            </div>
                                        {% else %}
                                            <div class="alert alert-success" role="alert">
                                                Avg. {{ graph[1]|round(2) }}%
                                            </div>
                                        {% endif %}
                                    </p>
                                    <canvas id="graph_{{ server['InstanceName'] }}"></canvas>
                                {% else %}
                                    <p>No data.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <script>
                        var ctx = document.getElementById("graph_{{ server['InstanceName'] }}");
                        var labels = [{% for date in graph[0] %}
                              "{{date[0]}}",
                              {% endfor %}];
                        var values = [{% for value in graph[0] %}
                                    {{value[1]}},
                                    {% endfor %}];
                        console.log(labels, values);
                        new Chart(ctx, {
                            type: 'line',
                            data: {
                              labels: labels,
                              datasets: [
                                {
                                    label: '{{ server['Label'] }}',
                                    data: values,
                                    borderColor: "#3e95cd",
                                }
                              ]
                            }
                        });
                    </script>
                {% endfor %}
            </div>
    </div>
{% endblock %}
