{% extends "top.html" %}
{% block content %}
    <div class='container'>
        <div class='row'><h1>AWS Server Health</h1></div>
            <div class='row'>
                {% for server, graph in data %}
                    <div class='col-md-6'>
                        <div class="card" style='padding: 20px;'>
                            <div class="card-block">
                                <h4 class="card-title">{{ server['InstanceName'] }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ server['Label'] }}
                                </h6>
                                <small>
                                    {{ server['Datapoints'][0]['Timestamp'].strftime('%Y-%m-%d %H:%M:%S') }}
                                </small>
                                <p class="card-text">
                                    {% if server['Datapoints'][0]['Average'] > 80 %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ server['Datapoints'][0]['Average']|round(2) }}
                                        </div>
                                    {% elif server['Datapoints'][0]['Average'] > 50 %}
                                        <div class="alert alert-warning" role="alert">
                                                {{ server['Datapoints'][0]['Average']|round(2) }}
                                        </div>
                                    {% elif server['Datapoints'][0]['Average'] > 20 %}
                                        <div class="alert alert-info" role="alert">
                                                {{ server['Datapoints'][0]['Average']|round(2) }}
                                        </div>
                                    {% else %}
                                        <div class="alert alert-success" role="alert">
                                                {{ server['Datapoints'][0]['Average']|round(2) }}%
                                        </div>
                                    {% endif %}
                                </p>
                                <canvas id="graph_{{ server['InstanceName'] }}"></canvas>
                            </div>
                        </div>
                    </div>
                    <script>
                        var ctx = document.getElementById("graph_{{ server['InstanceName'] }}");
                        var labels = [{% for date in graph[0] %}
                              "{{date.strftime('%Y-%m-%d %H:%M:%S')}}",
                              {% endfor %}];
                        var values = [{% for value in graph[1] %}
                                    {{value}},
                                    {% endfor %}];
                        console.log(labels, values);
                        new Chart(ctx, {
                            type: 'line',
                            data: {
                              labels: labels,
                              datasets: [
                                {
                                    label: '{{ server['Label'] }}',
                                    data: values,
                                    borderColor: "#3e95cd",
                                }
                              ]
                            }
                        });
                    </script>
                {% endfor %}
            </div>
    </div>
{% endblock %}