{% extends "top.html" %}
{% block content %}
    <div class='container'>
        <div class='row'><h1>Continuon Server Health</h1></div>
        <br>
            {% for server in data %}
                <div class='row' style='margin:3px;'>
                    <div class='col-md-12'>
                        <div class="card" style='padding: 20px;'>
                            <div class="card-block">
                                <h4 class="card-title">{{ server[0] }}</h4>
                                <p class="card-text">{{ server[1] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}