<html>
    <head>
        <title>Continuon Server Health</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="../static/css/custom.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" sizes="32x32" />
    </head>
    <body>
        <div style='width: 100%; background-color: #ff5825; margin-bottom: 15px;'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="/cpu">
                                    <img src="{{ url_for('static', filename='css/svg/si-glyph-cpu.svg') }}" class='nav-icons'> CPU
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/memory">
                                    <img src="{{ url_for('static', filename='css/svg/si-glyph-bug.svg') }}" class='nav-icons'> MEMORY
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/datapipeline">
                                    <img src="{{ url_for('static', filename='css/svg/si-glyph-database-share.svg') }}" class='nav-icons'> DATA PIPELINE
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/scrapers">
                                    <img src="{{ url_for('static', filename='css/svg/si-glyph-fish.svg') }}" class='nav-icons'> DOCKER SCRAPERS
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {%block content %}
        {% endblock %}
    </body>
</html>